1-Preparing-the-Dataset/dataset/
1-Preparing-the-Dataset/data.json

2-Implementing-the-model-TF/modelo.h5

3-Making-predictions/prueba_me

4-Deploy-Flask/prueba_me
4-Deploy-Flask/modelo.h5

5-Deploy-uWSGI/prueba_me
5-Deploy-uWSGI/modelo.h5

6-Docker-with-NGINX/classifier/data.json
6-Docker-with-NGINX/flask/modelo.h5
6-Docker-with-NGINX/prueba_me

7-AWS/server/flask/modelo.h5